.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  /* background: linear-gradient(135deg, #23d789, #764ba9); */
  color: white;
}
.signup-h1 {
  margin-top: 40px;
  color: #23d789;
}
.form {
  width: 350px;
  /* background: white; */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px;
  animation: fadeIn 0.6s ease-in-out;
}

.input-group {
  text-align: center;
  margin-bottom: 15px;
  width: 0 auto;
  margin-top: 10px;
  font-weight: 600;
  color: white;
}

.input-group input {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  color: #23d789;
  border-radius: 6px;
  outline: none; /* Removes the default focus outline */
  transition: 0.3s ease-in-out;
}

.input-field:focus {
  border: 1px solid #23d789;
  box-shadow: 0px 0px 8px rgba(1, 236, 134, 0.4);
}

.input-field {
  margin-bottom: 10px;
}

.eye-icon-signup {
  position: absolute;
  right: 181px;
  top: 362px;
  cursor: pointer;
  color: #23d789;
  font-size: 18px;
  transition: color 0.3s ease;
}

.sub-btn {
  width: 40%;
  padding: 10px;
  background: #23d789;
  color: white;
  font-weight: bold;
  border: 2px solid #23d789;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sub-btn:hover {
  background: none;
  transition: 0.3s ease-in-out;
  color: #23d789;
  transition: all 0.3s ease-in-out;
  border: 2px solid #23d789;
}
.signin {
  margin-top: 13px;
}

.signin-link {
  text-decoration: none;
  color: #23d789;
}

.signin-link:hover {
  text-decoration: underline;
  color: #23d789;
}
